* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(img/bg.jpg);
  background-size: cover;
}

main {
  width: 1020px;
  margin: auto;
  background-color: white;
}

nav {
  text-align: center;
  height: 60px;
  background-color: black;
}

#navigation li {
  list-style-type: none;
  display: inline;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 60px;
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navigation a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#yellow {
  color: #cfa205;
}

header {
  height: 320px;
  background-color: black;
}

header h1, h3 {
  color: #cfa205;
  text-align: center;
}

header h1 {
  font-size: 133px;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

header h3 {
  font-size: 18px;
  font-family: "Bitter", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

header .fa {
  font-size: 7px;
  vertical-align: top;
  margin-top: 7px;
}

.icon {
  height: 60px;
  background-color: #e8e8e8;
  text-align: center;
}

.icon .fa {
  color: #7a7a7a;
  line-height: 60px;
  padding-left: 20px;
}

.text {
  height: 90px;
  width: 900px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  margin: 60px auto;
}

.text p {
  font-family: "Bitter", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #7a7a7a;
  font-weight: bold;
}

.art {
  height: 675px;
  width: 900px;
  margin: auto;
}

.art img {
  height: 195px;
  width: 260px;
  margin-bottom: 30px;
}

.art p {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.75em;
  font-family: "Bitter", Helvetica, Arial, sans-serif;
  margin-top: 30px;
}

.art h4 {
  font-family: "Bitter", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.art-1 {
  height: 675px;
  width: 260px;
  float: left;
  margin-right: 60px;
}

.art-2 {
  height: 675px;
  width: 260px;
  float: left;
  margin-right: 60px;
}

.art-3 {
  height: 675px;
  width: 260px;
  float: left;
}
